/* Include Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Reset some styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, button {
  font-family: 'Roboto', sans-serif;
}

/* App styles */
.App {
  text-align: center;
  background-color: #1a1a1a; /* Dark background */
  color: #f0f0f0; /* Light text */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Home page styles */
.home-page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 91vh; /* Reduced from 100vh to 80vh */
  flex-direction: row; /* Changed to row for side-by-side layout */
  background-color: #1a1a1a;
  margin-top: -70px; /* Optionally, adjust this value as needed */
}

h1, h2, h3, h4 {
  font-weight: 700;
  margin-bottom: 20px;
  color:#cccccc
}

h1 {
  font-size: 3rem; /* Larger font size for main headings */
  color:#fff
}

h4 {
  font-weight: 300;
  color: #cccccc;
}

p {
  font-weight: 30;
  color: #8a8989;
}
/* Navigation styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #1a1a1a; /* Dark background */
}

.nav-button {
  background: none;
  border: none;
  color: #f0f0f0; /* Light text */
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-button:hover {
  color: #ffc107; /* Highlight color on hover */
}

.portfolio-title {
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

/* Indicates the active page */
.active-link {
  color: #ffc107; /* Highlight color for the active link */
}

/* Hide the outline that appears when the button is clicked */
.nav-button:focus {
  outline: none;
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
  .nav-button {
    width: 100%;
    text-align: left;
  }
}


/* Button styles */
.button-style {
  background-color: #ffc107; /* Highlight color */
  color: #1a1a1a; /* Dark text */
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px; /* Space between icon and text */
}

.button-style:hover {
  background-color: #e0a106; /* Darker shade on hover */
}

.button-style:focus {
  outline: none;
}

/* Add icon fonts (e.g., Font Awesome) */
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css');

.project-card {
  width: 200px;
  height: auto; /* Adjust height as needed */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* This will push the button to the bottom */
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  background-color: #1a1a1a;
  color: #8a8989;
  text-align: center;
  margin-bottom: 20px; /* Optional, for spacing between cards when they wrap */
}

.project-button {
  background-color: #ccc;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.disabled-button {
  background-color: #ccc;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
}

/* Footer.css */
.footer {
  /* Add your styles here */
  display: flex; /* Aligns children in a row */
  justify-content: center; /* Centers the items horizontally */
  gap: 10px; 
  text-align: center;
  padding: 20px;
  background-color: #1a1a1a;
  color: #fff;

  /* Other styling as needed */
}

.footer-link {
  /* Styling for footer links */
  margin: 0 10px;
  color: #fff;
  display: inline-flex;
    align-items: center;
    gap: 5px;

  /* Other styling as needed */
}